header {
  .header {
    .top-header {
      background-color: #bc5148;
      #top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icons {
          display: flex;
          gap: 20px;
          a{
          padding: 10px 0;
          display: inline-block;
          color: black;
          &:hover{
            color: white;
            transition: 0.5s;
          }
          }
        }
        ul {
          display: flex;
          gap: 20px;
          li {
            a {
              padding: 10px 10px;
              display: inline-block;
              color: black;
              &.login{
                background-color: rgb(244,178,20);
                transition: 0.5s;
                &:hover{
                  color: white;
                  
                }
              }
            }
          }
        }
      }
    }
    .bottom-header {
      #bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        nav {
          ul {
            display: flex;
            align-items: center;
            gap: 10px;
            li {
              a {
                color: rgb(165,161,157);
                &:hover{
                color: rgb(0,0,0,0.8);
                transition: 0.5s;
                }
              }
              .dropdown {
                .drop-menu {
                  display: none;
                }
                &:hover {
                  color: black;
                  .drop-menu {
                    display: block;
                    li{
                      a{
                        color: black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .fa-bars {
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .header {
      .bottom-header {
        #bottom {
          nav {
            display: none;
          }
          .fa-bars {
            display: block;
          }
        }
      }
    }
  }
}
