#detail-sec {
  .detail-sec {
    .we-care-contents {
      height: 100vh;
      .we-care-content {
        padding: 30px;
        box-shadow: 0px 0px 30px 0px rgb(239, 166, 180);
        text-align: center;
      }
    }
  }
}
